.logo {
    height: 95px;
}

.carousel-item {
    height: 75vh;
}

.cardRecette{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.pied {
    background-color: #a3c962;
}